* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/** Header Component */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    box-shadow: 0 .5px 5px #515151;
}

header .logo-container {
    display: flex;
    align-items: center;
    column-gap: 15px;
    cursor: pointer;
}

header .logo-container img {
    height: 50px;
}

header .logo-container h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
}

header nav ul {
    display: flex;
    column-gap: 15px;
}

header nav ul li {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1rem;
    list-style: none;
    cursor: pointer;
    padding: 10px;
    transition: all .3s ease;
}

header nav ul li:hover {
    background-color: #e9dbdb;
}

header nav ul li.login {
    background-color: #f5ebeb;
}

header nav ul li.login button {
    border: none;
    background-color: transparent;
    font-size: 1rem;
    cursor: pointer;
}

header nav ul li.login:hover {
    background-color: #d4caca;
}
/** Header Component */

/** Body Component */
.body {
    min-height: 75vh;
    padding: 10px 30px;
}

.body .shimmer-container .input {
    padding: 20px;
    border-radius: 20px;
    width: 400px;
}

.body .shimmer-container .filter-btns {
    margin-top: 20px;
}

.body .shimmer-container .filter-btns .btn {
    display: inline-block;
    padding: 20px 80px;
    border-radius: 10px;
    margin-right: 20px;
}

.body .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 300px));
    row-gap: 20px;
    column-gap: 10px;
    margin-top: 30px;
}

.body .card-container .shimmer-card {
    padding: 140px 70px;
    padding: 0px 10px 10px 10px;
    background-color: #eceaea;
    border-radius: 6px;   
}

.body .shimmer-container .filter-btns .btn,
.body .shimmer-container .input,
.shimmer-card .image, 
.shimmer-card .text {
    background-color: #cec8c8;
    margin-top: 10px;
}

.shimmer-card .image {
    padding: 80px 50px;
    border-radius: 10px;
}

.shimmer-card .text {
    padding: 13px 0px;
    border-radius: 20px;
    width: 80%;
}

.body .search-container {
    margin-top: 10px;
}

.body .search-container input {
    padding: 10px 10px 10px 13px;
    border-radius: 20px;
    border: 1px solid #000;
    outline: none;
    width: 30%;
    font-size: .9rem;
}

.body .filter-container {
    margin-top: 20px;
}

.body .filter-container .top-rated-btn,
.body .filter-container .show-all-btn {
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: .9rem;
    cursor: pointer;
    padding: 10px;
    margin-right: 20px;
    border-radius: 4px;
    transition: all .3s ease;
}

.body .filter-container .top-rated-btn:hover,
.body .filter-container .show-all-btn:hover {
    background-color: #d4caca;
}

.body .restaurant-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 300px));
    row-gap: 20px;
    column-gap: 10px;
    margin-top: 30px;
}

.restaurant-container .restaurant-card {
    background-color: #eceaea;
    padding: 10px;
    border-radius: 6px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
}

.restaurant-container .restaurant-card:hover {
    outline: solid 1px #b3aaaa;
}

.restaurant-container .restaurant-card .restaurant-image {
    width: 100%;
    object-fit: cover;
    height: 150px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.restaurant-card .cuisines,
.restaurant-card .rating,
.restaurant-card .delivery-time {
    margin-top: 5px;
}
/** Body Component */

/** Footer Component */
footer {
    background-color: #000;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    padding: 40px 0 10px 0;
    margin-top: 20px;
}
/** Footer Component */